.outerDesignsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

.designsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 50%;
}

.foodDesign,
.youtubeDesign,
.invictusDesign {
    width: 100%; 
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.foodDesign:hover,
.youtubeDesign:hover,
.invictusDesign:hover {
    transform: scale(1.05);
    border: 2px solid rgb(32, 25, 80);
}

.designsHeader {
    text-align: center;
    color: rgb(133, 70, 47);
}
