
  
  .content {
    margin-top: 60px;
  }
  
  .resume-container {
    position: relative;
    height: 100vh;
  }
  
  .resume {
    position: fixed;
    top: 60px; 
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: scroll;
  }
  