.icons {
    margin-top: 5px;;
    text-align: center;

}

.footerImg {
    width: 4%;
    margin: 1.5vh;
   
}

.connect {
    text-align: center;
    color: rgb(32, 25, 80);
    margin-bottom: 0;
    margin-top: 2%;
    font-size: 3vh;

}
