@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.headshot {
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-color: rgb(32, 25, 80);
  border-style: solid;
  border-width: 3%;
  width: 25%;
  max-width: 100%;
  margin-right: 0;
  margin-left: 15vw;
  margin-top: 10px;
}

.mainHeading {
  margin-left: 20%;
  margin-top: 18%;
  font-size: 5vh;
  color: rgb(133, 70, 47);
  font-family: inherit;
}

.nameHeading {
  margin-left: 20%;
  font-size: 8vh;
  color: rgb(133, 70, 47);
}

.meetYou {
  margin-left: 20%;
  font-size: 1.5vw;
  color: rgb(133, 70, 47);
}

.navyCircle {
  margin-left: 20%; /* Adjust the margin as needed */
}

.about {
  color: rgb(133, 70, 47);
  margin-right: 60vh;
  margin-left: 15vh;
  font-size: 3vh;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container2 {
  overflow: hidden; /* or auto, scroll, etc. depending on your needs */
  height: 800px
}
