.recentProjects {
  text-align: center;
  color: rgb(133, 70, 47);
}

  
  .project {
    text-align: center;
    width: 90%;
    object-fit: cover;
    border-radius: 10px;
  }

  .bulletJournal {
    display: flex;
    justify-content: center;
  }

  .othello, .klondike, .bulletJournal {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

  }

  .projectsGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    gap: 20px; 
    padding: 20px;
    width: 50%;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project {
    transition: transform 0.3s ease;
  }
  
  .project:hover {
    transform: scale(1.05);
    border: 2px solid rgb(32, 25, 80);
  }
  

  
  